<!doctype html>
<html ng-app="testGenders">
  <head>
    <title>Test Gender Field</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
  </head>
  <body ng-controller="testController">
    <div class="container">
      <form>
        <h2>Select</h2>
        <div class="form-group">
          <label>Gender</label>
          <gender-field select-classes="'form-control'" ng-model="vm.gender"></gender-field>
        </div>
        <h2>With Bootstrap.js</h2>
        <div class="form-group">
          <label>Gender</label>
          <gender-field ng-model="vm.gender" with-bootstrap="true" with-bootstrap-js="true" scrollable-height="'200px'"></gender-field>
        </div>
        <pre>user.gender: {{vm.gender}}</pre>
      </form>
    </div>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/js/dropdown.js"></script>
    <script type="text/javascript" src="../bower_components/genders/genders.angular.js"></script>
    <script type="text/javascript" src="../gender-field.js"></script>
    <script type="text/javascript" src="example.js"></script>
  </body>
</html>